
.gradle/config.properties
.gradle/config.properties
.idea/deploymentTargetDropDown.xml
.gradle/8.2/fileHashes/resourceHashesCache.bin
.gradle/8.2/executionHistory/executionHistory.bin
.gradle/8.2/executionHistory/executionHistory.lock
.gradle/8.2/fileHashes/fileHashes.bin
.gradle/8.2/fileHashes/fileHashes.lock
.idea/deploymentTargetDropDown.xml
.idea/workspace.xml
