
.gradle/config.properties
.gradle/config.properties
.idea/deploymentTargetDropDown.xml
.gradle/8.2/fileHashes/resourceHashesCache.bin
.gradle/8.2/executionHistory/executionHistory.bin
.gradle/8.2/executionHistory/executionHistory.lock
.gradle/8.2/fileHashes/fileHashes.bin
.gradle/8.2/fileHashes/fileHashes.lock
.idea/deploymentTargetDropDown.xml
.idea/workspace.xml
local.properties
app/src/main/.DS_Store
app/src/main/java/.DS_Store
app/src/main/java/com/.DS_Store
app/src/main/.DS_Store
.gradle/8.2/executionHistory/executionHistory.bin
